@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

:root {
    --fonte-padrão: 'Sriracha', cursive;
    --fonte-destaque: 'Passion One', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 153px;
    font-variant-caps: petite-caps;
}

header > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 1em;
}

main {
    font-family: var(--fonte-padrão);
    background-color: white;
    font-size: 53px;

}

section {
    margin-bottom: 50px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

div p {
    padding-left: 0px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.flor {
    background-image: url(../imagens/background001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center right;
    height: 800px;
    padding-top: 50px;
    margin-top: 200px;
    margin-bottom: 100px;
}

.flor > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.321);
    width: 620px;
    text-indent: 0px;
    margin-left: 30px;
    margin-top: 25px;
    padding-left: 5px;
}

.livro {
    background-image: url(../imagens/background002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    height: 800px;
    padding-top: 50px;
    margin-top: 200px;
    margin-bottom: 100px;
}

.livro > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.562);
    width: 635px;
    text-indent: 0px;
    margin-left: 30px;
    margin-top: 25px;
    padding-left: 5px;
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
}